{% extends 'base.html' %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('blog.static', filename='css/home.css')}}">
<title>Dama Rowahutu</title>
{% endblock %}

{% block body %}
{% include 'partials/header.html' %}

<section class="hero lg-pad">
    <h1 class="title">Aprenda Xavante</h1>
    <sub>Dama rowahutu da</sub>
    <!--    <input class="search" type="text" name="" id="" placeholder="Pesquisar no site...">-->
</section>

<section class="articles lg-pad">
    <h2 class="title">Novidades</h2>

    {% for article in articles %}
    <a href="/artigo/{{article.title}}" class="article">
        <i class="fas fa-chalkboard-teacher thumb"></i>
        <div class="info">
            <p class="article-title">{{article.title}}</p>
            <p class="description">{{article.description}}</p>
        </div>
    </a>
    {% endfor %}



</section>
{% include 'partials/footer.html' %}
{% endblock %}